
@{
    ViewBag.Title = "Projects";
}

<div class="post">
    <h2 id="headproj">Info about projects</h2>
    <h3>The most popular fashion place - article</h3>
    </br><p class="niceletter">
        France may be the global center of couture, but today Valentino reminded
        us that it doesn't have a monopoly on all things haute. The brand, which
        usually presents its collections in Paris, has taken its couture show on
        the road for the past couple of seasons. In December, they showed the collection
        in New York. This time around, it was Rome, the birthplace of the house
        and a meaningful spot for house founder Valentino Garavani and designers
        Maria Grazia Chiuri and Pierpaolo Piccioli, who are based there. The pair
        recently announced that they're establishing their own couture craftsmanship
        school in the city, with 19 students set for the incoming class.
    </p>
    </br><p class="niceletter">
        The brand, which
        usually presents its collections in Paris, has taken its couture show on
        the road for the past couple of seasons. In December, they showed the collection
        in New York. This time around, it was Rome, the birthplace of the house
        and a meaningful spot for house founder Valentino Garavani and designers
        Maria Grazia Chiuri and Pierpaolo Piccioli, who are based there. The pair
        recently announced that they're establishing their own couture craftsmanship
        school in the city, with 19 students set for the incoming class.
    </p>
    </br><p class="niceletter">
        In December, they showed the collection
        in New York. This time around, it was Rome, the birthplace of the house
        and a meaningful spot for house founder Valentino Garavani and designers
        Maria Grazia Chiuri and Pierpaolo Piccioli, who are based there. The pair
        recently announced that they're establishing their own couture craftsmanship
        school in the city, with 19 students set for the incoming class.
    </p>
    </br><p class="niceletter">
        A monopoly on all things haute. The brand, which
        usually presents its collections in Paris, has taken its couture show on
        the road for the past couple of seasons. In December, they showed the collection
        in New York. This time around, it was Rome, the birthplace of the house
        and a meaningful spot for house founder Valentino Garavani and designers
        Maria Grazia Chiuri and Pierpaolo Piccioli, who are based there. The pair
        recently announced that they're establishing their own couture craftsmanship
        school in the city, with 19 students set for the incoming class.
    </p>
</div>

